# Python bytecode files
__pycache__/
*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.env/
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# LaTeX intermediate and output files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.synctex.gz
*.xdv
*.pdf
*.log
*.toc

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore personal settings
*.env

gpt_strat.py
